@import '../../../styles/_variables.scss';

.btn {
	display: inline-block;
	border: none;
	text-align: left;
	&:hover {
		cursor: pointer;
	}

	white-space: nowrap;
}

.btn_primary {
	background-color: $theme-primary;
	border: 2px solid $theme-primary;
	color: #fff;

	&:hover {
		background-color: $theme-primary-lighten
	}
}


.btn_medium {
	height: 40px;
	padding: 8px;
	border-radius: 4px;
}

.btn[disabled] {
	opacity: 0.5;
	cursor: default;
}