@import "~bourbon/app/assets/stylesheets/_bourbon";

@import "_variables";

@import "_normalize";
@import "_grid";

// @include font-face("Montserrat", "https://fonts.googleapis.com/css?family=Montserrat");

body {
	color: $theme-main-text;
	background-color: $theme-back;
}

html, body, #root {
	@include size(100%);
}

body, input, textarea, button {
	font-size: 14px;
	font-family: 'Montserrat',sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

body, input, textarea {
	font-size: 14px;
}

* {
	box-sizing: border-box;
}

h1 {
	margin-bottom: 30px;
	line-height: 30px;
	font-size: 24px;
	font-weight: 400;
}

input, textarea {
	font-size: 16px;
	padding: 0 20px 0 10px;
	outline: none;
}

.full-width {
	width: 100%;
}

.error {
	color: $error
}

.success {
	color: $success;
}

.panel-container {
	background: #fff;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 0 3px 6px rgba(36,129,215,0.05), 0 2px 3px rgba(36,129,215,0.04);
	position: relative;
}