@import "~bourbon/app/assets/stylesheets/_bourbon";
@import '../../../styles/_variables.scss';

// Form Input Elements
.mb-form__element {
	position: relative;
	margin-bottom: 15px;
}

.mb-form__text-input {
	@include size(100% 40px);
	border-radius: 2px;
	border: 1px solid $input-border;
	background-image: none;
	padding: 0 2px 0 10px;

	&:focus {
		border-color: $theme-primary;
	}
}

.mb-form__text-input_error {
	border-color: $error;
}

.mb-form__asterisk-required {
	position: absolute;
	top: 14px;
	right: 12px;
	color: $error;
}

.mb-form__element-error {
	margin-top: 6px;
	color: $error;
}

.mb-form__textarea {
	width: 100%;
	min-height: 180px;
	border-radius: 2px;
	border: 1px solid $input-border;
	padding: 10px;
	resize: vertical;
}